@import "tailwindcss";

@theme {
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-600: hsl(246, 80%, 60%);
  --color-orange-300: hsl(15, 100%, 70%);
  --color-blue-300: hsl(195, 74%, 62%);
  --color-pink-300: hsl(348, 100%, 68%);
  --color-green-300: hsl(145, 58%, 55%);
  --color-purple-300: hsl(264, 64%, 52%);
  --color-yellow-300: hsl(43, 84%, 65%);
  --color-hover-color: hsl(236, 49%, 29%);
  --font-rubik: "Rubik", sans-serif;
}
